body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px;
    color: white; 
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    max-width: 40px; 
    margin-right: 10px; 
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}


